<div class="container mt-5">

  <div class="row">
    <h1 class="mb-3 mx-auto text-center">Eat-Da-burger!</h1>
    <div class="mx-auto text-center">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/04/03/07/10/burger-4997675_960_720.jpg" alt="">
    </div>
    <div class="col-md-12">
      <form class="text-center create-form">

        <div class="input-group mb-3">
          {{!-- <label for="ca">Burger Name:</label> --}}
          <input type="text" placeholder="Enter burger name" class="mx-auto form-control" id="ca" name="burger_name">
          <div class="input-group-prepend">
            <button class="btn btn-danger" type="submit" id="submit">Add burger</button>
          </div>
        </div>

      </form>
    </div>
    <div class="mb-3 mx-auto">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="devoured" value="1" checked> Devoured!<br>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="devoured" value="0"> Not eaten ... yet
    </div>
</div>
    {{!-- <label for="devoured"></label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>

    <input type="radio" name="devoured" value="0"> Not eaten ... yet --}}

  </div>






  <div class="row">
    <div class="shadow-sm card col-6">
      <div class="card-body">
        <h3 class="mb-3 card-title text-center">Burgers that are not devoured!</h3>

        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>


    <div class="shadow-sm card col-6">
      <div class="card-body">
        <h3 class="mb-3 card-title text-center">Burgers that are devoured!</h3>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>


</div>